.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

#aplayer img.aplayer-pic {
  width: 200px;
  /* Adjust the width as needed */
  height: 200px;
  /* Adjust the height as needed */
}

.icon {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;

}

.playlist {
  height: 200px;
  width: 200px;
}

.text-error {
  color: red;
  text-align: left;
  margin-bottom: 20px;
}

.separator {
  margin-top: 40px;
  display: flex;
  align-items: center;
  text-align: center;
}

.usernav {
  margin-left: 20%;
}

.textAlign {
  text-align: start;
  margin-top: 10px;
  color: #ffff;
}

.textAlign:hover {
  color: blue;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ffff;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.textColor {
  color: #fff;
}

.textH2 {
  line-height: 1.2;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
  font-family: 'Poppins';
  font-size: 36px;
  margin-bottom: 10px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* button rubberhand */
.btn-61,
.btn-61 *,
.btn-61 :after,
.btn-61 :before,
.btn-61:after,
.btn-61:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-61 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
}

.btn-61:disabled {
  cursor: default;
}

.btn-61:-moz-focusring {
  outline: auto;
}

.btn-61 svg {
  display: block;
  vertical-align: middle;
}

.btn-61 [hidden] {
  display: none;
}

.btn-61 {
  background: none;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  padding: 1.5rem 4rem;
  position: relative;
  text-transform: uppercase;
}

.btn-61 span {
  background: #fff;
  border: 1px solid;
  border-radius: 999px;
  display: grid;
  inset: 0;
  place-items: center;
  pointer-events: none;
  position: absolute;
}

.btn-61:hover span {
  -webkit-animation: rubberBand 0.8s;
  animation: rubberBand 0.8s;
}

@-webkit-keyframes rubberBand {
  0% {
    transform: scaleX(1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes rubberBand {
  0% {
    transform: scaleX(1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scaleX(1);
  }
}

.scrollable-container {
  max-height: 500px;
  /* Adjust the height as needed */
  overflow-y: auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* button rubberhand */
/* button play */
.btn-95,
.btn-95 *,
.btn-95 :after,
.btn-95 :before,
.btn-95:after,
.btn-95:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-95 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  text-transform: uppercase;
}

.btn-95:disabled {
  cursor: default;
}

.btn-95:-moz-focusring {
  outline: auto;
}

.btn-95 svg {
  vertical-align: middle;
}

.btn-95 [hidden] {
  display: none;
}

.btn-95 {
  background: hsla(0, 0%, 100%, 0.2);
  background-clip: content-box;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 60px;
  -webkit-mask-image: none;
  padding: 0;
  position: relative;
  transition: 0.2s;
  width: 60px;
}

.btn-95:hover {
  background: #fff;
}

.btn-95 svg {
  --size: 70px;
  fill: #fff;
  display: block;
  height: var(--size);
  left: calc(50% - var(--size) / 2);
  position: absolute;
  top: calc(50% - var(--size) / 2);
  width: var(--size);
}

.btn-95:hover svg {
  fill: #000;
}

.btn-95:before {
  border: 5px solid #fff;
  border-radius: 50%;
  content: "";
  inset: 1px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: scale(2);
  transition: 0.2s;
}

.btn-95:hover:before {
  opacity: 1;
  transform: scale(1);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.image-container {
  position: relative;
  text-align: center;
}

.mini {
  height: 160px;
  width: 160px;
}

.center-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-item {
  width: calc(100% * 4);
  height: calc(100% * 4);
}

.blog_right_sidebar {
  margin-bottom: auto;
  margin-top: 10%;
}

.player {
  position: relative;
}

.player img {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.player .team-number {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #f23a2e;
  border-radius: 50%;
  color: #fff;
}

.player .team-number>span {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.player h2 {
  font-size: 20px;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.player .position {
  font-size: 14px;
  color: #b3b3b3;
  text-transform: uppercase;
}

.site-blocks-cover .player {
  position: absolute;
  bottom: -250px;
  width: 100%;

  .icon_login {
    justify-content: center;
    display: flex;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .box {
    display: inline-block;
    /* Make the divs appear side by side */
    width: 100px;
    /* Set the width of each div */
    height: 100px;
    /* Set the height of each div */
    background-color: #007bff;
    color: white;
    margin: 10px;
    /* Optional: Add some spacing between the divs */
    text-align: center;
    /* Optional: Center the content horizontally within each div */
    line-height: 100px;
    /* Optional: Vertically center the content within each div */
  }
}

.wrapper {
  margin: auto;
  max-width: 640px;
  padding-top: 60px;
  text-align: center;
}

.container_upload {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  /*border: 0.5px solid rgba(130, 130, 130, 0.25);*/
  /*box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 
              0 0 0 1px rgba(0, 0, 0, 0.1);*/
}

.h1_upload {
  color: #130f40;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: -.5px;
  font-weight: 700;
  padding-bottom: 10px;
}

.upload-container {
  background-color: rgb(239, 239, 239);
  border-radius: 6px;
  padding: 10px;
}

.border-container {
  border: 5px dashed rgba(198, 198, 198, 0.65);
  /*   border-radius: 4px; */
  padding: 20px;
}

.border-container p {
  color: #130f40;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 0;
  opacity: 0.65;
}

#file-browser {
  text-decoration: none;
  color: rgb(22, 42, 255);
  border-bottom: 3px dotted rgba(22, 22, 255, 0.85);
}

#file-browser:hover {
  color: rgb(0, 0, 255);
  border-bottom: 3px dotted rgba(0, 0, 255, 0.85);
}

.icons {
  color: #95afc0;
  opacity: 0.55;
}

.modal {
  font-size: 12px;
}

.modal>.header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal>.content {
  width: 100%;
  padding: 10px 5px;
}

.modal>.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.notification {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
}

.notification__left {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 8px;
  margin-right: 24px;
}

.notification__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.notification__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.notification__description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  padding: 0;
}

.notification__success {
  background: #f6fef9;
  border: 1px solid #2f9461;
  border-radius: 8px;
}

.notification__error {
  background: #fffbfa;
  border: 1px solid #cd3636;
  border-radius: 8px;
}

.notification__warning {
  background: #fffcf5;
  border: 1px solid #c8811a;
  border-radius: 8px;
}

.notification_icon_error {
  color: #cd3636;
}

.notification__icon__success {
  color: #2f9461;
}

.notification__icon__warning {
  color: #c8811a;
}

.notification__description__success {
  color: #53b483;
}

.notification__description__warning {
  color: #e9a23b;
}

.notification__description__error {
  color: #f34141;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(220, 216, 216, 0.5);
  /* Semi-transparent background color */
  backdrop-filter: blur(5px);
  /* Apply a blur effect */
  z-index: 1000;
  /* Make the overlay appear above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerMobile.card-customeMobile {
  width: 90%; /* Adjust the width as needed for your design */
  max-width: 400px; /* Set a maximum width for small screens */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding for spacing */
}

@media (max-width: 768px) {
  .containerMobile.card-customeMobile {
    width: 90%; /* Reduce width for smaller screens */
  }
}

.card-custome {
  max-width: 41rem;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
}

.nav-link {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.nav-link:hover {
  color: rgb(239, 133, 11);
}

.nav-pills .nav-link.active {
  color: rgb(239, 133, 11);
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  font-weight: 600;
}

/* SearchPagination.css */

/* Style the pagination container */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

/* Style the individual page item */
.pagination li {
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Style the active page item */
.pagination li.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

/* Style the previous and next buttons */
.pagination li.previous,
.pagination li.next {
  background-color: #f7f7f7;
  font-weight: bold;
}

/* Style the break label */
.pagination li.break {
  padding: 5px;
}

/* Style the "previous" and "next" text */
.pagination li.previous a,
.pagination li.next a {
  text-decoration: none;
  color: #333;
}

/* Style the "previous" and "next" arrow icons */
.pagination li.previous a::before,
.pagination li.next a::before {
  content: '«';
}

.pagination li.next a::before {
  content: '»';
}

.circle-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  /* Set the background color you want */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 68px;
  margin-top: 5px;
  cursor: pointer;
}

.circle-button-1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ec870b;
  /* Set the background color you want */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
}

.button-container {
  position: absolute;
  top: 5px;
  right: 45px;
  z-index: 1;
  /* Ensure the button is above other content */
  /* You can adjust the top and right values to position the button as needed */
}

.playlist-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Adjust the number of columns as needed */
  gap: 20px;
  /* Adjust the gap between items */
}

.playlist-item {
  border: 5px solid #ddd;
  padding: 10px;
  text-align: center;
  position: relative;
}

.playlist-item img {
  max-width: 100%;
  height: auto;
}

.hero {
  background: #FFA33C;
  padding: calc(4rem) 0 0 0; /* Adjust the bottom padding as needed */
}

.hero .intro-excerpt {
  top: -100px;
  position: relative;
  z-index: 3;
}

@media (min-width: 992px) {
  .hero .intro-excerpt {
    max-width: 450px;
  }
}

.hero h1 {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

@media (min-width: 1400px) {
  .hero h1 {
    font-size: 54px;
  }
}

.hero p {
  color: rgba(255, 255, 255, 0.5);
}

.hero .hero-img-wrap {
  position: relative;
}

.hero .hero-img-wrap img {
  position: relative;
  margin-left: 39%;
  z-index: 2;
  margin-top: 5%;
  width: 400px;
  height: 330px;
}

@media (min-width: 768px) {
  .hero .hero-img-wrap img {
    right: 0px;
    left: -100px;
  }
}

@media (min-width: 992px) {
  .hero .hero-img-wrap img {
    left: 0px;
    top: -80px;
    position: absolute;
    right: -50px;
  }
}

@media (min-width: 1200px) {
  .hero .hero-img-wrap img {
    left: 50px;
    top: -80px;
    right: -100px;
  }
}

.comment-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment-details {
  margin-left: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root{
    --pinkish-red: #C35A74;
    --medium-blue: #307BAA;
    --greenish-blue: #53BAB5;
    --bright-orange: #FF7445;
    --white-smoke: #F5F5F4;
    --white: #FFF;
    --dark-gray: #7D7C7C;
    --black: #000;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: var(--white-smoke);
}

.content{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 100px;
}

.box1{
    display: flex;
    flex-direction: column;
    height: 586px;
    width: 300px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
    background: var(--white);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 20%);
}

.title{
    width: 100%;
    padding: 10px 0;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    color: var(--white-smoke);
}

.basic .title{
    background: var(--pinkish-red);
}

.standard .title{
    background: var(--medium-blue);
}

.business .title{
    background: var(--greenish-blue);
}

.view{
    display: block;
    width: 100%;
    padding: 30px 0 20px;

    background: var(--white-smoke);
}

.icon{
    display: flex;
    justify-content: center;
}

.icon img{
    width: 100px;
}

.cost{
    display: flex;
    justify-content:center;
    flex-direction: row;
    margin-top: 10px;
}

.amount{
    font-size: 2.8em;
    font-weight: bolder;
}

.detail{
    margin: auto 0 auto 5px;
    width: 70px;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 15px;
    color: #7D7C7C;
}

.description{
    margin: 30px auto;
    font-size: 0.8em;
    color: #7D7C7C;
}

.ul1{
    list-style: none;
}

.li1{
    margin-top: 10px;
}

.li1::before{
    content: "";
    background-image: url("https://i.postimg.cc/ht7g996V/check.png");
    background-position: center;
    background-size: cover;
    opacity: 0.5;

    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

/* Responsiveness:Start */
@media screen and (max-width:970px) {
    .content{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 50px auto;
    }
    .standard, .business{
        margin-top: 25px;
    }
}
/* Responsiveness:End */